name: CI/CD Pipeline
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies
        run: pip install -r app/requirements.txt

      - name: Run tests
        run: pytest || echo "No tests"

      - name: Build Docker image
        run: docker build -t image-analyzer:latest
  deploy:
    name: Deploy to AWS ECS
    runs-on: ubuntu-latest
    needs: build # rulează doar după ce build-ul reușește

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Deploy to ECS
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: ecs-task.json
          service: image-analyzer-service
          cluster: image-analyzer-cluster
          wait-for-service-stability: true
          name: Deploy to AWS ECS
          runs-on: ubuntu-latest
          needs: build # rulează doar după ce build-ul reușește

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Deploy to ECS
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: ecs-task.json
          service: image-analyzer-service
          cluster: image-analyzer-cluster
          wait-for-service-stability: true
